<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
        <h3>Managing <b><%= @piggy_bank.name %></b></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Piggy Bank Details</h5>
      <div class="card">
        <div class="card-body">
          <%= render partial: "piggy_banks/piggy_bank_details", locals: { piggy_bank: @piggy_bank } %>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <%= form_with scope: :piggy_banks_movement, url: piggy_bank_movements_path do |form| %>
            <div class="form-group">
              <%= form.text_field :name, class: "form-control", placeholder: "name", required: true %>
            </div>
            <div class="form-group">
              <%= form.text_field :description, class: "form-control", placeholder: "description", required: true  %>
            </div>
            <div class="form-group">
              <%= form.text_field :amount, class: "form-control", placeholder: "0.0", required: true  %>
            </div>

            <%= form.submit "Make a movement", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h5>Piggy Bank Movements</h5>
      <% if @movements.blank? %>
        <p> You don't have any Movements yet. Go ahead and make movements </p>
      <% else %>
        <% @movements.each do |mv| %>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <%= @piggy_bank.currency %> <h2><%= number_to_currency mv.amount %></h2>
                  </div>
                  <div class="col-md-6">
                    <h5 class="card-title"><%= mv.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= mv.description %></h6>
                    <h6> <%= mv.created_at.strftime("%m/%d/%Y at %I:%M%p") %> </h6>
                  </div>
                  <div class="col-md-2 small">
                    <%= link_to 'Destroy', piggy_bank_movements_path(mv), method: :delete, data: { confirm: "Destroy movement #{mv.name}?" }, class: "card-link"%>
                  </div>
                </div>
              </div>
            </div><br/>
        <% end %>
      <% end %>
  </div>
</div>
