<div class="container">
  <h1 class="text-center"><b>Piggy</b>•B</h1>
</div>

<div class="container pt-3">
  <div class="row">
    <div class="col-sm mb-2 text-center">
      <div class="card fill-height shadow-sm">
        <div class="card-body">
          <%= image_tag "piggy_bank.gif", class: "fill-width" %>
          <p class="text-muted mt-4">
            <%= t '.description_1' %>
          </p>
          <p class="text-muted mt-4">
            <%= t '.description_2' %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm mb-2">
        <% if flash[:notice] %>
          <div class="alert alert-danger" role="alert"> <%= flash.notice() %> </div>
        <% end %>

        <div class="card shadow">
          <div class="card-body">

            <%= form_with scope: :login, url: '/login' do |form| %>
              <div class="form-group">
                <%= form.text_field :email, class: "form-control", placeholder: "email", required: true %>
              </div>
              <div class="form-group">
                <%= form.text_field :password, class: "form-control", type: "password", placeholder: t('.password'), required: true %>
              </div>

              <%= form.submit t('.sign_in'), class: "btn btn-primary btn-block" %>
            <% end %>
          </div>
        </div>
        <hr /><small class="form-text text-muted text-center"><%= t '.signup_help' %></small>
        <div class="card shadow mt-2">
          <div class="card-body">
            <%= form_with scope: :user, url: users_path do |form| %>
              <div class="form-group">
                <%= form.text_field :name, class: "form-control", placeholder: t('.name'), required: true %>
              </div>
              <div class="form-group">
                <%= form.text_field :email, class: "form-control", placeholder: "email", required: true  %>
                <small id="emailHelp" class="form-text text-muted"><%= t '.password_help' %></small>
              </div>
              <div class="form-group">
                <%= form.text_field :password, class: "form-control", type: "password", placeholder: t('.password'), required: true  %>
              </div>
              <div class="form-group">
                <%= form.text_field :password_confirmation, class: "form-control", type: "password", placeholder: t('.confirm_password'), required: true  %>
              </div>

              <%= form.submit t('.sign_up'), class: "btn btn-success btn-block" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>

</div>
