<div class="row">
  <div class="col-md-5">
    <h5 class="card-title"><%= piggy_bank.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= piggy_bank.description %></h6>
  </div>
  <div class="col-md-7">
      <div class="row">
        <div class="col-md-3 text-nowrap small">
          <%= piggy_bank.currency %>
        </div>
        <div class="col-md-9 text-right">
          <h1><%= number_to_currency piggy_bank.balance %></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 small">
          <div class="row">
            <div class="col-md-12">
              Total Credits
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-nowrap small">
              <%= piggy_bank.currency %>
            </div>
            <div class="col-md-8 text-right">
              <h6><%= number_to_currency piggy_bank.total_credit %></h6>
            </div>
          </div>
        </div>
        <div class="col-md-6 small">
          <div class="row">
            <div class="col-md-12">
              Total Debits
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-nowrap small">
              <%= piggy_bank.currency %>
            </div>
            <div class="col-md-8 text-right">
              <h6><%= number_to_currency piggy_bank.total_debit %><h6>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
