<div class="d-flex justify-content-center pt-3">
  <div class="col-md-8">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">My Piggy Banks</h5>
        <% if @piggy_banks.blank? %>
          <p> You don't have any Piggy Banks yet. Go ahead and create your first Piggy Bank </p>
        <% else %>
          <% @piggy_banks.each do |pb| %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= pb.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= pb.description %></h6>
                  <h5 class="card-text">
                    <span class="badge badge-dark"> Currency: <%= pb.currency %> </span>
                    <span class="badge badge-secondary"> Balance: <%= pb.balance %> </span>
                    <span class="badge badge-success"> Total Credit: <%= pb.total_credit %> </span>
                    <span class="badge badge-danger"> Total Debit: <%= pb.total_debit %> </span>
                  </h5>
                  <%= link_to 'Edit', "/piggy_bank/#{pb.id}", class: "card-link" %>
                  <%= link_to 'Destroy', piggy_bank_path(pb), method: :delete, data: { confirm: "Destroy piggy bank #{pb.name}?" }, class: "card-link"%>
                  <%= link_to 'Make a movement', new_piggy_bank_movements_path(pb.id), class: "card-link" %>
                  <%= link_to 'Details', piggy_bank_movements_path(pb.id), class: "card-link" %>
                </div>
              </div><br/>
          <% end %>
        <% end %>
        <%= link_to 'Create a PiggyBank', new_piggy_bank_path, class: "btn btn-primary" %>
      </div>
    </div>

  </div>
</div>
