<div class="d-flex justify-content-center pt-3">
  <div class="col-md-4">
    <div class="card mx-auto">
      <div class="card-body">
        <%= form_with scope: :piggy_bank, url: piggy_banks_path do |form| %>
          <div class="form-group">
            <%= form.text_field :name, class: "form-control", placeholder: "name", required: true %>
          </div>
          <div class="form-group">
            <%= form.text_field :description, class: "form-control", placeholder: "description", required: true  %>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= form.text_field :currency, class: "form-control", placeholder: "currency", required: true  %>
            </div>
            <div class="form-group col-md-6">
              <%= form.text_field :balance, class: "form-control", placeholder: "0.0", required: true  %>
            </div>
          </div>

          <%= form.submit "Create Piggy Bank", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
