<!DOCTYPE html>
<html>
  <head>
    <title>Piggyb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-light justify-content-end bg-light">
        <% unless session[:user_id].blank? %>
          <%= link_to '/logout', class: "btn btn-sm btn-outline-secondary" do %> logout <% end %>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

  </body>
</html>
