<!DOCTYPE html>
<html>
  <head>
    <title>Piggyb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <% unless session[:user_id].blank? %>
          <a class="navbar-brand" href="#">PiggyB</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <%= link_to '/piggy_banks', class: "btn btn-sm" do %> My Piggy Banks <% end %>
                </li>
              </ul>
              
              <%= link_to '/logout', class: "btn btn-sm btn-outline-secondary" do %> logout <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>

  </body>
</html>
