<!DOCTYPE html>
<html>
  <head>
    <title>Piggyb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="section">

    </header>

    <main class="section mx-auto" style="width: 90%;">
      <div class="d-flex justify-content-center pt-3">
        <%= yield %>
      </div>
    </main>

    <footer>

    </footer>

  </body>
</html>
